---
import type { CollectionEntry } from 'astro:content'
import { components } from '@/components/mdx'
import Figure from '@/components/ui/Figure.astro'
import Heading from '@/components/ui/Heading.astro'
import Prose from '@/components/ui/Prose.astro'

interface Props {
  page: CollectionEntry<'pages'>
}

const { page } = Astro.props
const { Content } = await page.render()
---

<section>
  <header class="mb-[4.5rem] grid grid-cols-canvas text-center">
    <Heading>{page.data.title}</Heading>

    {
      page.data.image && (
        <Figure
          alt={page.data.image.alt}
          src={page.data.image.src}
          caption={page.data.image.caption}
        />
      )
    }
  </header>

  <Prose>
    <Content {components} />
  </Prose>

  <slot />
</section>
