---
import type { Page } from "@/types/content";
import Figure from "@/components/ui/Figure.astro";
import Heading from "@/components/ui/Heading.astro";
import Prose from "@/components/ui/Prose.astro";
import type { Props as LayoutProps } from "@/layouts/Layout.astro";
import { components } from "@/components/mdx";

interface Props {
  page: Page;
}

const { page } = Astro.props;
const { Content } = await page.render();

export function getMetadata({ page }: Props): LayoutProps {
  return {
    title: page.data.title,
    description: page.data.description,
  };
}
---

<section>
  <header class="mb-[4.5rem] grid grid-cols-canvas text-center">
    <Heading>{page.data.title}</Heading>

    {
      page.data.image && (
        <Figure
          alt={page.data.image.alt}
          src={page.data.image.src}
          caption={page.data.image.caption}
        />
      )
    }
  </header>

  <Prose>
    <Content {components} />
  </Prose>

  <slot />
</section>
