---
import { Image } from 'astro:assets'
import familyImg from '@/assets/family.png'
import SubscribeModal from '@/components/SubscribeModal'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import { DEFAULT_DESCRIPTION, DEFAULT_TITLE } from '@/lib/content'
import '@/styles/globals.css'
import '@fontsource-variable/mulish'
import mulishFile from '@fontsource-variable/mulish/files/mulish-latin-wght-normal.woff2?url'
import type { SEO as SeoProps } from 'astro-seo'
import { SEO } from 'astro-seo'

export interface Props {
  title?: string
  description?: string
  image?: string
  article?: Required<Parameters<typeof SeoProps>[0]>['openGraph']['article']
}

const {
  title,
  description = DEFAULT_DESCRIPTION,
  image = `${Astro.url.origin}/opengraph-image.png`,
  article,
} = Astro.props
---

<html lang="en" class="bg-white text-black dark:bg-white-reversed">
  <head>
    <SEO
      charset="utf-8"
      {title}
      titleTemplate={`%s - ${DEFAULT_TITLE}`}
      titleDefault={DEFAULT_TITLE}
      {description}
      canonical={Astro.url.href}
      openGraph={{
        basic: {
          title: title ?? DEFAULT_TITLE,
          image,
          type: "website",
          url: Astro.url.href,
        },
        optional: {
          description,
          locale: "en_US",
          siteName: DEFAULT_TITLE,
        },
        image: {
          type: "image/png",
          width: 1200,
          height: 600,
          alt: "Engineering with Yagiz",
        },
        article,
      }}
      twitter={{
        creator: "@yagiznizipli",
        title,
        image,
        imageAlt: "Engineering with Yagiz",
        description,
        card: "summary_large_image",
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href={mulishFile}
      type="font/woff2"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="category" content="technology" />
    <meta name="creator" content="Yagiz Nizipli" />
    <meta name="publisher" content="Yagiz Nizipli" />
    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <meta name="twitter:site:id" content="1589638196" />
    <meta name="twitter:creator:id" content="1589638196" />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1920" />
    <meta name="twitter:image:height" content="1080" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="48x48" />
    <link
      rel="apple-touch-icon"
      href="/apple-icon.png"
      type="image/png"
      sizes="180x180"
    />
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main class="grow py-14">
      <slot />
    </main>
    <SubscribeModal client:load>
      <Image
        slot="image"
        src={familyImg}
        width={60}
        height={60}
        class="rounded-full"
        alt="Yagiz Nizipli"
      />
    </SubscribeModal>
    <Footer />
  </body>
</html>
