---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import {
  authorFullName,
  twitterId,
  twitterUsername,
  websiteDescription,
  websiteTitle,
} from '@/lib/content'
import '@/styles/globals.css'
import '@fontsource-variable/mulish'
import { openGraphImage } from '@/lib/content'
import mulishFile from '@fontsource-variable/mulish/files/mulish-latin-wght-normal.woff2?url'
import type { SEO as SeoProps } from 'astro-seo'
import { SEO } from 'astro-seo'

interface Props {
  title?: string
  description?: string
  image?: string
  article?: Required<Parameters<typeof SeoProps>[0]>['openGraph']['article']
}

const {
  title,
  description = websiteDescription,
  image = `${Astro.url.origin}/opengraph-image.png`,
  article,
} = Astro.props
---

<html lang="en" class="bg-white text-black dark:bg-white-reversed">
  <head>
    <SEO
      charset="utf-8"
      {title}
      titleTemplate={`%s - ${websiteTitle}`}
      titleDefault={websiteTitle}
      {description}
      canonical={Astro.url.href}
      openGraph={{
        basic: {
          title: title ?? websiteTitle,
          image,
          type: "website",
          url: Astro.url.href,
        },
        optional: {
          description,
          locale: "en_US",
          siteName: websiteTitle,
        },
        image: {
          type: "image/png",
          width: openGraphImage.width,
          height: openGraphImage.height,
          alt: websiteTitle,
        },
        article,
      }}
      twitter={{
        creator: `@${twitterUsername}`,
        title: title ?? websiteTitle,
        image,
        imageAlt: websiteTitle,
        description,
        card: "summary_large_image",
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      as="font"
      crossorigin="anonymous"
      href={mulishFile}
      type="font/woff2"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="category" content="technology" />
    <meta name="creator" content={authorFullName} />
    <meta name="publisher" content={authorFullName} />
    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <meta name="twitter:site:id" content={twitterId} />
    <meta name="twitter:creator:id" content={twitterId} />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1920" />
    <meta name="twitter:image:height" content="1080" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="48x48" />
    <link
      rel="apple-touch-icon"
      href="/apple-icon.png"
      type="image/png"
      sizes="180x180"
    />
    <slot name="head" />
    <link rel="alternate" type="application/rss+xml" title={websiteTitle} href={new URL("/rss.xml", Astro.site)} />
  </head>
  <body>
    <Header />
    <main class="py-14">
      <slot />
    </main>
    <Footer />
  </body>
</html>
